@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Sacramento&display=swap');

.hehe {
    @media (min-width: 568px) and (max-width:1280px) {
        
    
    position: absolute;

    display: flex;
    flex-direction: row;
    gap: 196px;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    z-index: 100;
    
    
    .div2 {

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 55px;
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;


        }
    }


    .div1 {
        h1 {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 140%;
        }
    }

    .div3 {
        .button6 {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            padding: 13px 34px;
            width: 20vw;

            border: 0.15vw solid rgb(241, 237, 237);
            background: rgb(215, 214, 214);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

        }
    }
}

}


.hehe {
    @media (min-width:1281px) {

         
        position: absolute;
    
        display: flex;
        flex-direction: row;
        gap: 196px;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-top: 4%;
        z-index: 100;
            
        
    
    .div2 {

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 55px;
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;


        }
    }


    .div1 {
        h1 {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 140%;
        }
    }

    .div3 {
        .button6 {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            padding: 13px 34px;

            border: 0.15vw solid rgb(241, 237, 237);
            background: rgb(215, 214, 214);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

        }
    }
}


}