
@import "/styles/color.module.scss";
@import "/styles/typography.module.scss";

.main {
    
    picture {

        @media (min-width: 568px)  {
            margin-left: 8%;
        
            z-index: 10;
        }

        @media (min-width: 390px) and (max-width: 567px) {
            margin-left: 5%;
            margin-right: 5%;
            z-index: 10;
        }



    }

    // .two{
    //     position: relative;
    //     right: 5%;

    // }


    .main2 {

        h1 {
            @media (min-width: 568px) {
                z-index: 1000;
                position: absolute;
                bottom: 40%;
                left: 40%;
                @include h1-cursive;
                text-align: center;

            }

            @media (min-width: 200px ) and (max-width: 567px) {
                z-index: 1000;
                position: absolute;
               bottom: 50%;
                margin-left: 12%;
                
                
               @include h1-cursive;
                text-align: center;

            }
        }
    }
}


.mains {
    img {
        position: relative;
        z-index: 10;
    }

    .mains2 {
        h1 {
            z-index: 1000;
            position: absolute;
            bottom: 50%;
            left: 25%;

        }
    }
}