@import "/styles/color.module.scss";
@import "/styles/typography.module.scss";

.maindiv {
  display: flex;
  flex-direction: row;
  border: solid 2px $neutral-100;
  // border-top: none;
  width: 33.333%;
  padding-left: 68px;
  padding-bottom: 50px;
  padding-right: 30px;
  .div2 {
    h1 {
      @include body1-bold;
    }
  }

  .div3 {
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 31px;

    h1 {
      @include title2-bold;
    }
    h2 {
      @include body1-bold;
      color: #969595;
    }
  }

  .div4 {
    button {
      background-color: transparent;
      border: solid 1px $neutral-100;
      padding: 10px 14px;
    }
  }

  .div5 {
    padding-left: 36px;
    padding-top: 100px;
  }

  .div1 {
    padding-top: 56px;
  }
}
