.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 200;
    top: 20%;
    @media (min-width: 200px) and (max-width: 768px){
        top: 10%;

    }

    @media (min-width:768px) and (max-width: 1024px){
       left: 41%;
       top: 10%;
    }


   
    .rect1 {
        input {
            padding: 16px 243px 16px 31px;
            border: none;
            background-color: white;
            @media (min-width: 200px) and (max-width: 567px){
        padding: 16px 50px 16px 10px;
            }
        
        }
    }

    .rect {
        background-color: black;
        padding: 9px 16px;
    }
}

.button6 {
    font-family: 'Catamaran';
    font-style: bold;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    padding: 11px 25px 11px 37px;

    border: 0.15vw solid rgb(241, 237, 237);
    background: rgb(215, 214, 214);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    position: absolute;
    top: 80%;
    left: 45%;
    z-index: 200;
    display: flex;
    align-items: center;

    gap: 22px;
    @media (min-width: 200px) and (max-width: 768px){
        position: absolute;
        top: 500px;
        left: 120px;
        
    }

    @media (min-width:768px) and (max-width: 1024px){
       left: 85%;
        top: 50%;
     }


    img {
        padding-bottom: 3px;

    }

}