@import "/styles/color.module.scss";
@import "/styles/typography.module.scss";

.main {
  .main1 {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    margin-top: 147px;
    h1 {
        @include h1-cursive;
        padding-top: 41px;
        padding-bottom: 23px;
    }
}

.main2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4rem 12rem;
    justify-content: center;
    background-color: $primary-color;
  }

  .main3 {
    display: flex;
    flex-direction: row;
    padding: 0rem 12rem;

    justify-content: center;
    background-color: $primary-color;
  }
}
